server:
  port: 8080

spring:
  application:
    name: fitness-backend

  datasource:
    url: jdbc:mysql://localhost:3306/fitness_db
    username: appuser
    password: N1c0l451843.,
    driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      hibernate:
        ddl-auto: validate
      show-sql: true
      properties:
        hibernate:
          format_sql: true